[jobinfo]
created_at = 2019-08-25 18:14:24
title = archetype_3

[version]
FUMA = v1.3.5
MAGMA = v1.07
GWAScatalog = e96_r2019-05-03
ANNOVAR = 2017-07-17

[inputfiles]
gwasfile = archetype_3_suggestive_snps.tsv
chrcol = CHR
poscol = BP
rsIDcol = NA
pcol = P
eacol = NA
neacol = NA
orcol = NA
becol = Beta
secol = Beta.SE
leadSNPsfile = NA
addleadSNPs = 1
regionsfile = NA

[params]
N = 562
Ncol = NA
exMHC = 1
MHCopt = annot
extMHC = NA
ensembl = v92
genetype = protein_coding
leadP = 1e-5
gwasP = 0.05
r2 = 0.6
r2_2 = 0.1
refpanel = 1KG/Phase3
pop = EUR
MAF = 0
refSNPs = 1
mergeDist = 250

[magma]
magma = 1
magma_window = 0
magma_exp = GTEx/v6/gtex_v6_ts_avg_log2RPKM:GTEx/v6/gtex_v6_ts_general_avg_log2RPKM

[posMap]
posMap = 1
posMapWindowSize = 10
posMapAnnot = NA
posMapCADDth = 0
posMapRDBth = NA
posMapChr15 = NA
posMapChr15Max = NA
posMapChr15Meth = NA
posMapAnnoDs = NA
posMapAnnoMeth = NA

[eqtlMap]
eqtlMap = 0
eqtlMaptss = NA
eqtlMapSig = 1
eqtlMapP = 1
eqtlMapCADDth = 0
eqtlMapRDBth = NA
eqtlMapChr15 = NA
eqtlMapChr15Max = NA
eqtlMapChr15Meth = NA
eqtlMapAnnoDs = NA
eqtlMapAnnoMeth = NA

[ciMap]
ciMap = 0
ciMapBuiltin = NA
ciMapFileN = 0
ciMapFiles = NA
ciMapFDR = NA
ciMapPromWindow = NA
ciMapRoadmap = NA
ciMapEnhFilt = 0
ciMapPromFilt = 0
ciMapCADDth = 0
ciMapRDBth = NA
ciMapChr15 = NA
ciMapChr15Max = NA
ciMapChr15Meth = NA
ciMapAnnoDs = NA
ciMapAnnoMeth = NA

